[program:{{ program_name }}]
command={{ program_home }}/bin/{{ program_name }} >> {{ program_home }}/logs/log.txt
directory={{ program_home }}/bin
user={{ ansible_user }}
autostart=true
stdout_logfile={{ program_home }}/logs/log.txt
autorestart=true
redirect_stderr=true
